<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  ><link rel="stylesheet" href="/static/css/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>ЧТО ДЕЛАТЬ ПРИ ГЛОБАЛЬНОМ ПОТЕПЛЕНИЕ</title>

</head>
<body>
  <h1>ЧТО ДЕЛАТЬ ПРИ ГЛОБАЛЬНОМ ПОТЕПЛЕНИЕ</h1>
  <h2>Пять способов внести свой вклад в борьбу с глобальным потеплением</h2>
    <ul>
      <li>1. Чаще пользоваться общественным транспортом: Выбор средств передвижения в городе оказывает заметное воздействие на уровень выбросов парниковых газов. Вы можете отказаться от личной автомашины в пользу ходьбы, езды на велосипеде или общественного транспорта.</li>

      <li>2. Экономить энергию: Сушите постиранное белье на веревке, а не в электросушилке. Выставляйте на термостате системы отопления более низкую температуру включения. Установите термоизоляцию на чердаке и под крышей для уменьшения потерь тепла в зимний период.
      </li>

      <li>3. Сократить потребление мяса: Производство мяса влечет за собой значительно более масштабные выбросы парниковых газов, чем производство курятины, выращивание овощей, фруктов и зерновых культур.</li>
      <li>4. Утилизировать отходы, использовать вторсырье, даже воду: Нам неустанно твердят о важности сбора бытовых отходов. Но перевозка и переработка таких отходов сопровождается выбросом большого количества СО2 в атмосферу. Утилизация отходов приводит к сокращению энергопотребления, но еще лучше было бы повторно использовать продукцию или сокращать масштабы потребления.</li>
      <li>5. Информировать и обучать: Обучение мерам экономии ресурсов надо начинать с самого раннего возраста
        Необходимо распространять как можно шире знания об изменениях в климате и о том, что они с собой несут.</li>
      
    </ul>
  </li>
    <img
            
    src="/static/img/B.png"
    alt="python"
    width="300"
    height="300"
    class = 'skill3'
                    
            
            
    />
    <a href ="/", class = 'luck3'>ВЕРНУТСЯ НА ОСНОВНУЮ СТРАНИЦУ</a>
  </li>
<body>
</html>