<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  ><link rel="stylesheet" href="/static/css/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ</title>

</head>
<body>
  <h1>ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ</h1>
  <h2>Что такое глобальное потепление?</h2>
  <p>Глобальное потепление — это процесс повышения средней температуры на поверхности Земли, который является одной из составляющих более широкого явления изменения климата. Это явление происходит главным образом из-за человеческой деятельности, такой как сжигание ископаемых видов топлива (уголь, нефть, природный газ), вырубка лесов и сельское хозяйство. Эти действия приводят к увеличению концентрации парниковых газов в атмосфере, таких как углекислый газ (CO₂), метан (CH₄) и закись азота (N₂O), которые задерживают тепло, поступающее от Солнца, и создают парниковый эффект.
  <p>
  <h2>Основные последствия глобального потепления включают:</h2>
    <ul>
      <li>1.Повышение температуры: Средняя температура Земли увеличивается, что может привести к более жарким летам и более тёплым зимам.</li>

      <li>2.Таяние льдов и повышение уровня моря: Глобальное потепление способствует таянию ледников и полярных шапок, что вызывает повышение уровня мирового океана.</li>

      <li>3.Изменение погодных условий: Возникают более частые и интенсивные погодные явления, такие как ураганы, засухи и наводнения.</li>
      <li>4.Угрозы экосистемам: Изменения климата могут нарушить природные среды обитания, что ставит под угрозу множество видов животных и растений.</li>
      <li>5.Влияние на здоровье: Потепление может способствовать распространению инфекционных болезней, ухудшению качества воздуха и воды.</li>
      <li>6.Глобальное потепление является важной проблемой, требующей международных усилий по сокращению выбросов парниковых газов и адаптации к изменениям, которые уже происходят.</li>

    </ul>
    </li>
      <img
                
        src="/static/img/R.jpeg"
        alt="python"
        width="300"
        height="300"
        class = 'skill'
                      
                
                
      />
      <a href ="/text", class = 'luck'>КАК ПРЕДОТВРАТИТЬ ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ</a>
    </li>
    </li>
    <img
              
      src="/static/img/OIP.jpeg"
      alt="python"
      width="500"
      height="500"
      class = 'skill1'
                    
              
              
    />
    <a href ="/advice", class = 'luck1'>ЧТО ДЕЛАТЬ ПРИ ГЛОБАЛЬНОМ ПОТЕПЛЕНИЕ</a>
    </li>
    </li>
    <img
              
      src="/static/img/OIP (1).png"
      alt="python"
      width="250"
      height="250"
      class = 'skill2'
                    
              
              
    />
    <a href ="https://t.me/helper44454535_bot", class = 'luck2'>КАК ПРЕДОТВРАТИТЬ ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ</a>
    </li>
          
                

  
  
</body>
</html>